<div class="navbar">
    <div>
        <a href="/"><img id="logo" src="/imgs/shared/logo.jpg"></a>
    </div>

    <div class="dropdown">
        <a class="nav-item">soils 101</a>
        <div class="dropdown-content">
            <a href="/soils101/genesis">soil genesis</a>
            <a href="/soils101/habitat">soil habitat</a>
            <a href="/soils101/biology">soil biology</a>
            <a href="/soils101/chemistry">soil chemistry</a>
            <a href="/soils101/nutrition">soil nutrition</a>
            <a href="/soils101/health">soil health</a>
        </div>
    </div>

    <div class="dropdown">
        <a class="nav-item">web of soil</a>
        <div class="dropdown-content">
                <a href="/food">food</a>
                <a href="/fiber">fiber</a>
                <a href="/filter">filter</a>
                <a href="/foundation">foundation</a>
                <a href="/farmaceuticals">farmaceuticals</a>
                <a href="/fun">fun</a>
        </div>
    </div>

    <div class="dropdown">
        <a class="nav-item" href="/media">media</a>
    </div>

    <div class="dropdown">
        <a class="nav-item">get involved</a>
        <div class="dropdown-content">
            <a href="/get-involved/home">at home</a>
            <a href="/get-involved/community">in your community</a>
            <a href="/get-involved/legislation">with your legislators</a>
            <a href="/get-involved/socialmedia">on social media</a>
            <a href="/get-involved/education">for your education</a>
            <a href="/get-involved/donations">through donations</a>
        </div>
    </div>

    <div class="dropdown">
        <a class="nav-item" href="/about">about us</a>
    </div>
    
    <div class="social-media">
            <a href="https://www.facebook.com/TheSoilLife/"><img class="social-media-logo" src="/imgs/shared/facebook.svg"></a>
            <a href="https://www.instagram.com/soil.life"><img class="social-media-logo" src="/imgs/shared/instagram.svg"></a>
            <a href="https://twitter.com/the_Soil_Life"><img class="social-media-logo" src="/imgs/shared/twitter.svg"></a>
    </div>
</div>


<div id="sidebar-mb">
        <div class="sidebar-item" onclick="closeSideNav()">
            <img id="close" src="/imgs/shared/left_chevron.svg">
        </div>
        <div class="sidebar-item">
            <a href="/soils101/genesis"><strong>soils 101</strong></a>
        </div>
        <div class="sidebar-item">
            <a href="/food">web of soil</a>
        </div>
        <div class="sidebar-item">
            <a href="/media">media</a>
        </div>
        <div class="sidebar-item">
            <a href="/get-involved/home">get involved</a>
        </div>
        <div class="sidebar-item">
            <a href="/about">about us</a>
        </div>
    <script>
        function closeSideNav() {
            var sidebar = document.getElementById('sidebar-mb');
            sidebar.style.left= "-50vw";
        }
    </script>
</div>

<div class="navbar-mb">
    <div class="bars-container" onclick="openSideNav()">
        <img id="open" src="/imgs/shared/bars.svg">
    </div>   
    <div class="center">
        <div>SOIL</div>
        <a href="/"><img id="main" src="/imgs/shared/logo.jpg"></a>
        <div>LIFE</div>
    </div>
    <div class="social-media">
            <a href="https://www.facebook.com/TheSoilLife/"><img class="social-media-logo" src="/imgs/shared/facebook.svg"></a>
            <a href="https://www.instagram.com/soil.life"><img class="social-media-logo" src="/imgs/shared/instagram.svg"></a>
            <a href="https://twitter.com/the_Soil_Life"><img class="social-media-logo" src="/imgs/shared/twitter.svg"></a>
    </div>
    <script>
        function openSideNav() {
            var sidebar = document.getElementById('sidebar-mb');
            sidebar.style.left = "0";
        }
    </script> 
</div>


<style>
        /* MAIN NAVBAR */
        .navbar {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            top: 0px;
            background-color: white;
            z-index:3;
            height: 7vh;
        }
        
        .nav-item {
            display: flex;
            padding: 2vh;
            font-size: 2.3vh;
            text-decoration: none;
            color: inherit;
        }

        #logo {
            height: 7vh;
            padding-left: 5px;
        
        }
        
        
        .social-media {
            padding: 2vh;
        }
        .social-media-logo {
            height: 3vh;
        }
        
        .dropdown:hover .dropdown-content {
            display: flex;
            flex-direction: column;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 2;
            top: 5.5vh;
            font-size: 2vh;
        }
        .dropdown-content a {
            color: #5D5152;
            padding: 12px 16px;
            text-decoration: none;
            text-align: left;
        }
        
        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .navbar-mb {
            display: none;
        }

        .center {
            display: flex;
            flex-direction: row;
        }

        .center div {
            top: 0;
            bottom: 0;
            position: relative;
            margin: auto 0;
            font-weight: bold;
        }


        #sidebar-mb {
            display: none;
        }

        /* MOBILE */
        @media screen and (max-width: 600px) {
            .navbar {
                display: none;
            }
            .navbar-mb {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                top: 0px;
                background-color: white;
                z-index:3;
            }
            
            #sidebar-mb {
                position: absolute;
                height: 100vh;
                width: 50vw;
                left: -50vw;
                z-index: 4;
                overflow-x: hidden;
                transition: 0.3s;
            }
            #sidebar-mb {
                display: flex;
                flex-direction: column;
                background-color: #ee6a7c;
                
            }
            .sidebar-item {
                padding: 14px;
            }
            #sidebar-mb a {
                text-decoration: none;
                color: white;
                font-weight: bolder;
                font-size: 22px;
            
            }
            .social-media {
            padding: 10px;
            }

            .social-media-logo {
                height: 16px;
            }
            
            .bars-container {
                width: 80px;
            }

            #open {
                height: 30px;
                padding: 4px 0px 0px 5px;
                cursor: pointer;
            }

            #main {
                height: 30px;
            }
            #close {
                height: 30px;
                cursor: pointer;
            }
        }
</style>

