<div class="navbar">
    <div>
        <a href="/"><img id="logo" src="/imgs/shared/logo.jpg"></a>
    </div>

    <div class="dropdown">
        <a class="nav-item">soils 101</a>
        <div class="dropdown-content">
            <a href="./soils101/soilgenesis.html">soil genesis</a>
            <a href="./soils101/soilhabitat.html">soil habitat</a>
            <a href="./soils101/soilbiology.html">soil biology</a>
            <a href="./soils101/soilchemistry.html">soil chemistry</a>
            <a href="./soils101/soilnutrition.html">soil nutrition</a>
            <a href="./soils101/soilhealth.html">soil health</a>
        </div>
    </div>

    <div class="dropdown">
        <a class="nav-item">web of soil</a>
        <div class="dropdown-content">
                <a href="/food">food</a>
                <a href="/fiber">fiber</a>
                <a href="/filter">filter</a>
                <a href="/foundation">foundation</a>
                <a href="/farmaceuticals">farmaceuticals</a>
                <a href="/fun">fun</a>
        </div>
    </div>

    <div class="dropdown">
        <a class="nav-item" href="/media">media</a>
    </div>

    <div class="dropdown">
        <a class="nav-item">get involved</a>
        <div class="dropdown-content">
            <a href="/get-involved/home">at home</a>
            <a href="/get-involved/community">in community</a>
            <a href="/get-involved/legislation">legislation</a>
            <a href="/get-involved/socialmedia">social media</a>
            <a href="/get-involved/education">education</a>
            <a href="/get-involved/donations">donations</a>
        </div>
    </div>

    <div class="dropdown">
        <a class="nav-item" href="/about">about us</a>
        <div class="dropdown-content">
            <a href="/about_us/our_story.html">our story</a>
            <a href="/about_us/our_mission.html">our mission</a>
            <a href="/about_us/our_vision.html">our vision</a>
            <a href="/about_us/our_values.html">our values</a>
            <a href="/about_us/our_team.html">our team</a>
            <a href="/about_us/our_contact.html">our contact</a>
        </div>
    </div>
    
    <div class="social-media">
            <a href="https://www.facebook.com/TheSoilLife/"><img class="social-media-logo" src="/imgs/shared/facebook.svg"></a>
            <a href="https://www.instagram.com/soil.life"><img class="social-media-logo" src="/imgs/shared/instagram.svg"></a>
            <a href="https://twitter.com/the_Soil_Life"><img class="social-media-logo" src="/imgs/shared/twitter.svg"></a>
    </div>
</div>

<style>
        .navbar {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            top: 0px;
            background-color: white;
            z-index:3;
            height: 7vh;
        }
        
        .nav-item {
            display: flex;
            padding: 2vh;
            font-size: 2.3vh;
            text-decoration: none;
            color: inherit;
        }

        #logo {
            height: 7vh;
            padding-left: 5px;
        
        }
        
        
        .social-media {
            padding: 2vh;
        }
        .social-media-logo {
            height: 3vh;
        }
        
        @media screen and (max-width: 600px) {
            .social-media {
                display: none;
            }
        }

        .dropdown:hover .dropdown-content {
            display: flex;
            flex-direction: column;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 2;
            top: 5.5vh;
            font-size: 2vh;
        }
        .dropdown-content a {
            color: #5D5152;
            padding: 12px 16px;
            text-decoration: none;
            text-align: left;
        }
        
        .dropdown-content a:hover {
            background-color: #ddd;
        }
        </style>

