<div class="secondary-nav <%-sixf%>">
    <a href="/food">
        <%if (sixf === "food") { %>
            <img src="/imgs/sixf/subnav/food_gray.svg">
        <% } else { %>
            <img src="/imgs/sixf/subnav/food_white.svg">
        <% } %>
    </a>
    <a href="/fiber">
        <%if (sixf === "fiber") { %>
            <img src="/imgs/sixf/subnav/fiber_gray.svg">
        <% } else { %>
            <img src="/imgs/sixf/subnav/fiber_white.svg"></a>
        <% } %>
    <a href="/filter">
        <%if (sixf === "filter") { %>
            <img src="/imgs/sixf/subnav/filter_gray.svg">
        <% } else { %>
            <img src="/imgs/sixf/subnav/filter_white.svg"></a>
        <% } %>
    <a href="/foundation">
        <%if (sixf === "foundation") { %>
            <img src="/imgs/sixf/subnav/foundation_gray.svg">
        <% } else { %>
            <img src="/imgs/sixf/subnav/foundation_white.svg"></a>
        <% } %>
    <a href="/farmaceuticals">
        <%if (sixf === "farmaceuticals") { %>
            <img src="/imgs/sixf/subnav/farmaceutical_gray.svg">
        <% } else { %>
            <img src="/imgs/sixf/subnav/farmaceutical_white.svg"></a>
        <% } %>
    <a href="/fun">
        <%if (sixf === "fun") { %>
            <img src="/imgs/sixf/subnav/fun_gray.svg">
        <% } else { %>
            <img src="/imgs/sixf/subnav/fun_white.svg"></a>
        <% } %>
</div>

<style>
    .secondary-nav {
        display: flex;
        justify-content: space-around;
    }
    .secondary-nav a {
        text-decoration: none;
        color: white;
    }

    .secondary-nav img {
        height: 40px;
    }
    .food {
        background-color: #ee6a7c;
    }
    .fiber {
        background-color: #fac718;
    }
    .filter {
        background-color: #195ba7;
    }
    .foundation {
        background-color: #544d50
    }
    .farmaceuticals {
        background-color: #fa6a33
    }
    .fun {
        background-color: #36ae99
    }
</style>