<div class="secondary-nav <%-gi%>">
    <a href="/get-involved/home">
        <%if (gi === "home") { %>
            <img src="/imgs/get_involved/subnav/home_gray.svg">
        <% } else { %>
            <img src="/imgs/get_involved/subnav/home_white.svg">
        <% } %>
    </a>
    <a href="/get-involved/community">
        <%if (gi === "community") { %>
            <img src="/imgs/get_involved/subnav/community_gray.svg">
        <% } else { %>
            <img src="/imgs/get_involved/subnav/community_white.svg">
            <% } %>
    </a>
    <a href="/get-involved/legislation">
        <%if (gi === "legislation") { %>
            <img src="/imgs/get_involved/subnav/legislation_gray.svg">
        <% } else { %>
            <img src="/imgs/get_involved/subnav/legislation_white.svg">
        <% } %>
    </a>
    <a href="/get-involved/socialmedia">
        <%if (gi === "socialmedia") { %>
            <img src="/imgs/get_involved/subnav/socialmedia_gray.svg">
        <% } else { %>
            <img src="/imgs/get_involved/subnav/socialmedia_white.svg">
        <% } %>
    </a>
    <a href="/get-involved/education">
        <%if (gi === "education") { %>
            <img src="/imgs/get_involved/subnav/education_gray.svg">
        <% } else { %>
            <img src="/imgs/get_involved/subnav/education_white.svg">
        <% } %>
    </a>
    <a href="/get-involved/donations">
        <%if (gi === "donations") { %>
            <img src="/imgs/get_involved/subnav/donations_gray.svg">
        <% } else { %>
            <img src="/imgs/get_involved/subnav/donations_white.svg">
        <% } %>
    </a>
</div>

<style>
    .secondary-nav {
        display: flex;
        justify-content: space-around;
    }
    .secondary-nav a {
        text-decoration: none;
        color: white;
    }

    .secondary-nav img {
        height: 40px;
    }
    .home {
        background-color: #ee6a7c;
    }
    .community {
        background-color: #fac718;
    }
    .socialmedia {
        background-color: #195ba7;
    }
    .education {
        background-color: #544d50
    }
    .donations {
        background-color: #fa6a33
    }
    .legislation {
        background-color: #36ae99
    }
</style>