<div class="secondary-nav <%-sixf%>">
    <a href="/food">food</a>
    <a href="/fiber">fiber</a>
    <a href="/filter">filter</a>
    <a href="/foundation">foundation</a>
    <a href="/farmaceuticals">farmaceuticals</a>
    <a href="/fun">fun</a>
</div>

<style>
    .secondary-nav {
        display: flex;
        justify-content: space-around;
    }
    .secondary-nav a {
        text-decoration: none;
        color: white;
    }
    .food {
        background-color: #ee6a7c;
    }
    .fiber {
        background-color: #fac718;
    }
    .filter {
        background-color: #195ba7;
    }
    .foundation {
        background-color: #544d50
    }
    .farmaceuticals {
        background-color: #fa6a33
    }
    .fun {
        background-color: #36ae99
    }
</style>