<div class="secondary-nav <%-soils101%>">
        <a href="/soils101/genesis">
            <%if (soils101 === "genesis") { %>
                <img src="/imgs/soils101/subnav/genesis_gray.svg">
            <% } else { %>
                <img src="/imgs/soils101/subnav/genesis_white.svg">
            <% } %>
        </a>
        <a href="/soils101/habitat">
            <%if (soils101 === "habitat") { %>
                <img src="/imgs/soils101/subnav/physics_gray.svg">
            <% } else { %>
                <img src="/imgs/soils101/subnav/physics_white.svg"></a>
            <% } %>
        <a href="/soils101/biology">
            <%if (soils101 === "biology") { %>
                <img src="/imgs/soils101/subnav/biology_gray.svg">
            <% } else { %>
                <img src="/imgs/soils101/subnav/biology_white.svg"></a>
            <% } %>
        <a href="/soils101/chemistry">
            <%if (soils101 === "chemistry") { %>
                <img src="/imgs/soils101/subnav/chemistry_gray.svg">
            <% } else { %>
                <img src="/imgs/soils101/subnav/chemistry_white.svg"></a>
            <% } %>
        <a href="/soils101/nutrition">
            <%if (soils101 === "nutrition") { %>
                <img src="/imgs/soils101/subnav/fertility_gray.svg">
            <% } else { %>
                <img src="/imgs/soils101/subnav/fertility_white.svg"></a>
            <% } %>
        <a href="/soils101/health">
            <%if (soils101 === "health") { %>
                <img src="/imgs/soils101/subnav/health_gray.svg">
            <% } else { %>
                <img src="/imgs/soils101/subnav/health_white.svg"></a>
            <% } %>
    </div>
    
    <style>
        .secondary-nav {
            display: flex;
            justify-content: space-around;
        }
        .secondary-nav a {
            text-decoration: none;
            color: white;
        }
    
        .secondary-nav img {
            height: 40px;
        }
        .genesis {
            background-color: #ee6a7c;
        }
        .habitat {
            background-color: #fac718;
        }
        .health {
            background-color: #195ba7;
        }
        .nutrition {
            background-color: #544d50
        }
        .chemistry {
            background-color: #fa6a33
        }
        .biology {
            background-color: #36ae99
        }
    </style>