<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/about.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/fullpage.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/scrolloverflow.min.js"></script>
    <script type="text/javascript" src="/scripts/fullpage.js"></script>
</head>
<body>
    <div id="fullpage">
        <div id="fixed-wrapper">
            <%- include('../partials/main_nav'); %>
            <!-- <a href="/">BACK TO HOME</a> -->
        </div>
        <div class="section">

            <div class="slide" id="our-story">
                <div class="card">
                    <h5>about us</h5>
                    <div class="title">our story</div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                            Morbi lobortis lorem nec auctor pellentesque. In metus risus, bibendum sit amet arcu sed, interdum fermentum velit. 
                            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque aliquam sem at odio 
                            posuere, ac blandit ex vestibulum. Curabitur ultricies id lacus eu eleifend. Pellentesque et cursus arcu. Proin eget varius enim.
                            Phasellus pulvinar massa vitae enim placerat tempor. Nunc eu bibendum felis. Curabitur iaculis turpis eget condimentum scelerisque. 
                            Phasellus maximus consequat nisl, sed rutrum lacus eleifend id. Nulla ac massa condimentum, dictum metus a, imperdiet velit. 
                            Vivamus maximus finibus massa, eget fringilla diam ultricies vitae. Maecenas in congue erat, eu auctor sem. Aenean sapien ante, 
                            blandit eu interdum sed, semper nec eros. Curabitur molestie laoreet ex. In felis diam, tempor a bibendum in, fermentum non justo. 
                            Etiam aliquam mi vel libero sodales feugiat pharetra ut diam. Sed tempor tortor in felis dapibus, at euismod felis mattis. 
                            Integer placerat dignissim ex, non semper libero dignissim nec. Praesent nec auctor turpis, eget blandit urna. Curabitur varius 
                            nec neque vel consequat.
                        </div>
                </div>
            </div>

            <div class="slide" id="our-mission">
                <div class="row">
                    <div class="column">
                        <div id="our-mission-title">
                                <h5>about us</h5>
                                <div class="title">our mission</div>
                            </div>
                    </div>
                    <div class="column"></div>
                    <div class="column"></div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="card" id="card1">
                            <h5>1</h5>
                            <p>to inspire the next generation of soil explorers for the benefit of all</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card" id="card2">
                            <h5>2</h5>
                            <p>to educate that soils are living bodies that harbor a diversity of life, and support
                                and sustain life as we know it
                            </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card" id="card3">
                            <h5>3</h5>
                            <p>to empower young people with solutions to some of our greatest global challenges; solutions
                                that lie right beneath our feet!
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>


            <div class="slide" id="our-vision">
                <div class="card">
                    <h5>about us</h5>
                    <div class="title">our vision</div>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor 
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                        sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
            </div>

            <div class="slide" id="our-values">
                <div class="row">
                    <div class="column">
                        
                        <div id="our-values-title">
                            <h5>about us</h5>
                            <div class="title">our values</div>
                        </div>
                    </div>
                    <div class="column">
                        
                    </div>
                    <div class="column">

                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <div class="card">
                            <h5>1 - soilutions</h5>
                            <p>there is enough fear based media out there. we value the kind of positivity and
                                optimism that empowers people with solutions, rather than focusses on the problems. rather than
                                fighting against broken systems, we value the creation of new models that make old paradigms obsolete.
                            </p>
                        </div>
                        <div class="card">
                            <h5>2 - the dirty truth</h5>
                            <p>
                                with fake news and misinformation on the rise, we value accuracy, scientific rigor, and integrity
                                in everything we do. truth is power.
                            </p>
                        </div>
                        <div class="card">
                            <h5>3 - common ground</h5>
                            <p>
                                in an increasingly black and white world, we value the spectrum of gray that lies in the middle, 
                                as well as the ability to change alignment amongst disparate groups. far more unites us than divides us.
                            </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <h5>4 - aggregation</h5>
                            <p>
                                we value the interconnectedness of all things just as fungal threads and plant roots bring soil
                                particles together to form aggregates. we believe in bringing together consumers, farmers and businesses
                                with shared values. strength in numbers.
                            </p>
                        </div>
                        <div class="card">
                            <h5>5 - groundedness</h5>
                            <p>
                                in a cloud-driven world, we strive to bring people back down-to-earth. we value balance in our agricultural systems,
                                businesses, and individual lives, as well as holistic, place based thinking.
                            </p>
                        </div>
                        <div class="card">
                            <h5>6 - deep roots</h5>
                            <p>
                                while we all need wings to fly, we value investing in deep roots. now, more than ever, we must
                                build stable, resilient, relocalized agriculture and food system. cultivate your inner and outer garden.
                            </p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card">
                            <h5>7 - exploring new depths</h5>
                            <p>
                                space may be the final frontier, but some argue we know less about the soil underfoot than the celestial
                                bodies overhead. we value exploration and inquiry to discover what lies beneath!
                            </p>
                        </div>
                        <div class="card">
                            <h5>8 - grit</h5>
                            <p>
                                we value the courage and resolve to stand up to naysayers and fight for what's right; the strength
                                of character to enver give up on what we believe in; and the tenacity to pursue our vision relentlessly.
                            </p>
                        </div>
                        <div class="card">
                            <h5>9 - organic growth</h5>
                            <p>
                                we are here to take people on a journey. rather than force ideas on people, we value patience
                                as society undergoes rough transitions, as well as the sensibility to live within our means.
                            </p>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <script>
        new fullpage('#fullpage', {
            //options here
            slidesNavigation: true,
            autoScrolling:false,
            scrollHorizontally: true,
            //scrollOverflow: true,
        });
    </script>
</body>