<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/sixf.css" />

    </head>
    <body>
        <div id="fixed-wrapper">
            <%- include('../partials/main_nav') %>
            <%- include('../partials/secondary_nav', {sixf: 'farmaceuticals'}) %>
        </div>
            
        </div>
    </body>
</html>