<!DOCTYPE html>
<html>
    <head>
        <title>Foundation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles/sixf.css" />
        <link rel="stylesheet" type="text/css" href="/styles/fullpage.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="/scripts/scrolloverflow.min.js"></script>
        <script type="text/javascript" src="/scripts/fullpage.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/styles/jquery.fancybox.min.css">
    </head>
    <body>
        <div id="fixed-wrapper">
            <%- include('../partials/main_nav') %>
            <%- include('../partials/secondary_nav_sixf', {sixf: 'foundation'}) %>
        </div>
        <div id="fullpage">
                <div class="section" id="foundation-intro">
                        <a class="left-link" href="/filter"><img class="arrow" src="/imgs/shared/left_arrow_white_3pt.svg"></a>
                        <img class="intro-badge" id="foundation-badge" src="/imgs/sixf/intros/sixfs-foundation-text.svg">
                        <div class="intro-text">the base of our economy, the<br> base of food webs, the physical<br> base of our cities, soils are<br> literally the foundation for life and<br> civilization - past and present! </div>
                        <a class="right-link" href="/farmaceuticals"><img class="arrow" src="/imgs/shared/right_arrow_white_3pt.svg"></a>
                </div>
                <div class="section" id="video">
                    <div id="video-container">
                        <div id="video-cell">
                                <iframe title="YouTube video player" id="sixFsVideo" type="text/html"
                                src="https://www.youtube.com/embed/kybPmB1zBUw"
                                frameborder="0" allowFullScreen>
                                </iframe>
                        </div>
                    </div>
                </div>
                <div class="section" id="wos">
                    <div id="title">
                            <p>Web of Soil</p>
                    </div>
                    <div>
                       <p id="name">Foundation</p>
                    </div>
                    <svg id="web"></svg>
                </div>
                <div class="section">
                    <section id="flix-container"></section>
                </div>
            </div>
            <div id="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div id="modal-row"></div>
                </div>
            </div>
            <script>
                    new fullpage('#fullpage', {
                        //options here
                        navigation: true,
                        slidesNavigation: true,
                        autoScrolling:true,
                        scrollHorizontally: true,
                        scrollOverflow: true
                    });
            </script>
            <script src="/scripts/d3.v4.min.js"></script>
            <script src="/scripts/wos.js"></script>
            <script src="/scripts/flix.js"></script>
            <script src="/scripts/jquery.fancybox.min.js"></script>
    </body>
</html>