<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
        <link rel="stylesheet" type="text/css" href="/styles/sixf.css" />

    </head>
    <body>
        <div class="nav">
            <%- include('../partials/main_nav') %>
            <%- include('../partials/secondary_nav', {sixf: 'fun'}) %>
        </div>
            
        </div>
    </body>
</html>