<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
        <link rel="stylesheet" type="text/css" href="/styles/fullpage.css" />
        <script type="text/javascript" src="/scripts/fullpage.js"></script>
    </head>
    <body>

    <div id="fullpage">
        <div class="section" id="intro">
                <%- include('../partials/main_nav'); %>
                <div class="jumbotron">
                    <h2 class="jumbo-text">we all share<br>common ground.<br></h2>
                    <h3 class="jumbo-sub">get dirty. get connected.</h3>
                </div>
        </div>
        <div class="section">

        </div>
    </div>
    <script>
            new fullpage('#fullpage', {
                //options here
                navigation: true,
                autoScrolling:true,
                scrollHorizontally: true
            });
        </script>
    </body>
</html>
