<!DOCTYPE html>
<html>
    <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
        <link rel="stylesheet" type="text/css" href="/styles/fullpage.css" />
        <script type="text/javascript" src="/scripts/fullpage.js"></script>
    </head>
    <body>
        <div id="fullpage">
            <div id="fixed-wrapper">
                <%- include('../partials/main_nav'); %>
            </div>
            <div class="section" id="intro">
                    <div class="jumbotron">
                        <h2 class="jumbo-text">we all share<br>common ground.<br></h2>
                        <h3 class="jumbo-sub">get dirty. get connected.</h3>
                    </div>
                    <a href="#healthy-soils"><img class="down-arrow jumbo-arrow" src="/imgs/shared/down_arrow_white_thick.svg"></a>            
            </div>

        <!-- HEALTHY SOILS -->
        <div class="section">
            <div class="slide">
                <div class="wrap">
                    <video id="soil-circle" width="80%" height="80%" data-autoplay loop muted>
                        <source src="/imgs/healthy_soils/soil-wheel-animation.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="slide">
                <div class="soil-container">

                    <div class="soil-content">
                            <img src="/imgs/healthy_soils/healthysoils-arrows.svg"/>
                            <p class="soil-header">healthy soil</p>
                            <p class="soil-desc">
                            as gravity, wind, and water
                            weathered rocks into
                            smaller and smaller pieces,
                            soils began to form on Earth,
                            supporting greater and
                            greater complexity and
                            diversity of life!
                        </p>
                    </div>
                    <div class="soil-img">
    
                        <img src="/imgs/healthy_soils/healthy-soils.jpg">
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="soil-container">
                    <div class="soil-content">
                        <img src="/imgs/healthy_soils/healthyplants-arrows.svg"/>   
                        <p class="soil-header">healthy plants</p> 
                        <p class="soil-desc">
                            healthy soils are teeming with
                            microbes, hard at work,
                            making nutrients available to
                            plants. water and air flows
                            through them easily and they
                            tend to be resilient in the face
                            of disease and drought.
                        </p>
                    </div>
                    <div class="soil-img">
    
                        <img src="/imgs/healthy_soils/healthy-plants.jpg">
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="soil-container">
                    <div class="soil-content">
                        <img src="/imgs/healthy_soils/healthypeople-arrows.svg"/>
                        <p class="soil-header">healthy people</p> 
                        <p class="soil-desc">
                            healthy plants and animals
                            provide the base for a healthy
                            human diet. the food we eat
                            provides the building blocks
                            that make up every cell of our
                            bodies. you, literally, are what
                            you eat!
                        </p>
                    </div>
                    <div class="soil-img">
    
                        <img src="/imgs/healthy_soils/healthy-people.jpg">
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="soil-container">
                    <div class="soil-content">
                        <img src="/imgs/healthy_soils/healthycommunities-arrows.svg"/>
                        <p class="soil-header">healthy communities</p> 
                        <p class="soil-desc">
                            sutainable farming can
                            revitalize whole communities,
                            providing jobs and secure
                            access to food. gardens bring
                            whole communities together,
                            empowering with the tools for
                            self-sufficeincy and uniting us 
                            on common ground!
                        </p>
                    </div>
                    <div class="soil-img">
    
                        <img src="/imgs/healthy_soils/healthy-communities.jpg">
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="soil-container">
                    <div class="soil-content">  
                        <img src="/imgs/healthy_soils/healthyeconomies-arrows.svg"/>
                        <p class="soil-header">healthy economies</p> 
                        <p class="soil-desc">
                            soils produce the raw
                            materials that form the base
                            of our global economy.
                            improving soil health can
                            reduce inpts and increase
                            yields, which means more
                            stable commodity pices, and
                            more profit in the grower's
                            pocket!
                        </p>
                    </div>
                    <div class="soil-img">
    
                        <img src="/imgs/healthy_soils/healthy-economies.jpg">
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="soil-container">
                    <div class="soil-content">  
                        <img src="/imgs/healthy_soils/healthyplanet-arrows.svg"/>
                        <p class="soil-header">healthy planet</p> 
                        <p class="soil-desc">
                            healthy soils silently deliver
                            ecosystem services that
                            support life as we know it.
                            healthy soils filter our air
                            and water; protect against
                            floods, sequester carbon;
                            reduce pest and disease
                            pressure; and encourage
                            biodiversity.
                        </p>
                    </div>
                    <div class="soil-img">
    
                        <img src="/imgs/healthy_soils/healthy-planet.jpg">
                    </div>
                </div>
            </div>
        </div>

        <!--6FS-->
        <div class="section">
            <div class="sixf-container">
                <img id="sixf-icon" src="/imgs/sixF/sixfs-food.svg">
                <div class="sixf-text">soils are fundamental to life on Earth.</div>
                <div class="sixf-text">if you <span id="sixf-change-text">eat food</span>, you depend on soil.</div>
                <br>
                <br>
                <br>
                <a id="sixf-link" href="/food">find out how!</a>
            </div>
        </div>

        <!--MEDIA HUB-->
        <div class="section">
            <div id="media-hub-container">
                <div id="media-hub-cell">
                    <div class="section-header">Soil Genesis</div>
                    <video controls>
                        <source src="/imgs/main/soil_genesis.mp4" type="video/mp4">
                    </video>
                    <a href="/media"><img class="right-arrow" src="/imgs/shared/right_arrow_pink_thick.svg"></a>
                    <div id="mb-learn">
                        <a href="/media"><p>Learn More</p>
                        <img src="/imgs/shared/right_arrow_pink_thick.svg">
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!--SOILS 101-->
        <div class="section" id="soils101-section">
            <div id="soils101-container">
                <div id="text-left">want to know more?</div>
                <div id="text-right">dig deeper.</div>
                <a class="link" href="/soils101/genesis"><img class="right-arrow" src="/imgs/shared/right_arrow_pink_thick.svg"></a>
            </div>
        </div>

        <!--GET INVOLVED-->
        <div class="section" id="get-involved-section">
                <div id="get-involved-container">
                    <div id="get-involved-text">
                        <p>soil does so much for us, find<br>
                            out what you can do for soil.
                        </p>
                        <p>there are countless ways to dig<br>
                            in and get your hands dirty!
                        </p>
                    </div>
                </div>
                <a class="link" href="/get-involved/home"><img class="right-arrow" src="/imgs/shared/right_arrow_white_thick.svg"></a>
        </div>
        <!--ABOUT US-->
        <div class="section" id="about-us-section">
                <div id="about-us-container">
                    <div id="about-us-text">
                        <p><strong>we are on a mission to change the way the
                            world looks at soil-digging into what's dirty
                            and calling into question what's clean.</strong>
                            </p>
                        <p>we believe in change from the ground up!
                            by starting at the root of some of our most pressing 
                            global issues, we aim to promote environmental
                            and human health across the globe!
                        </p>
                    </div>
                    </div>
                <a class="link" href="/about"><img class="right-arrow" src="/imgs/shared/right_arrow_white_thick.svg"></a>
        </div>

        <!--footer-->
        <div class="section fp-auto-height">
            <div id="footer-container">
                <div id="footer-text">
                    <div>soil life is a project based out of uc davis and supported by the natural resources conservation service.</div>
                    <div><strong>we are on a mission to change the way the world looks at soil.</strong></div>
                </div>
                <div id="social-media">
                    <div id="social-media-text">stay connected.</div>
                    <div id="footer-icons">
                        <a href="https://www.instagram.com/soil.life"><img src="imgs/shared/instagram.svg"></a>
                        <a href="https://www.facebook.com/TheSoilLife/"><img src="imgs/shared/facebook.svg"></a>
                        <a href="https://twitter.com/the_Soil_Life"><img src="imgs/shared/twitter.svg"></a>
                        <a href="https://www.youtube.com/TheSoilLife/"><img src="imgs/shared/youtubeicon.svg"></a>
                        <div>
                            <a>newsletter signup</a><br>
                            <a>contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
            new fullpage('#fullpage', {
                //options here
                navigation: true,
                slidesNavigation: true,
                autoScrolling:true,
                scrollHorizontally: true,
                anchors: ['intro-section', 'healthy-soils', 'six-f', 'media-hub', 'soils101', 'get-involved','about-us', 'footer']
            });
    </script>
    <script type="text/javascript" src="/scripts/sixfs.js"></script>
    </body>
</html>
