<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/styles/sixf.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/styles/jquery.fancybox.min.css">
        <style>
            #contain {
                margin-top: 15px;
            }

            /* .navbar {
                box-shadow: 0px 0px 5px 1px #ccc;
            } */
        </style>
    </head>
    <body>
        <div>
            <%- include('../partials/main_nav') %>
        </div>
        <div>

            <section id="contain"></section>
        </div>
        </div>
            <script src="/scripts/d3.v4.min.js"></script>
            <script src="/scripts/media.js"></script>
            <script src="/scripts/jquery.fancybox.min.js"></script>
    </body>
</html>