@font-face {
    font-family: 'acremedium';
    src: url("./Acre-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* CENTERING SLIDE NAV */
.fp-slidesNav {
    display: flex;
    justify-content: space-around;
}

* {
    font-family: acremedium;
    letter-spacing: 1px;
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#fixed-wrapper {
    position: fixed;
    z-index: 3;
    width: 100%;
}

.slide {
    background-color: #e8e8e8
}

.card {
    background-color:white;
}
p{
    font-size: 12px;
}

/* OUT STORY */
#our-story .card {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    #our-story .card {
        width: 70%;
        height: unset;
        padding: 20px;
    }
}

/* OUR MISSION */
#our-mission .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#our-mission .column {
    flex: 27%;
    max-width: 27%;
    padding: 0 10px;
}

#our-mission #card1 {
    position: relative;
    bottom: 50%;
}

#our-mission #card3 {
    position: relative;
    top: 50%;
}

#our-mission .card{
    margin-top: 20px;
    vertical-align: middle;
    text-align:center;
    padding: 10px;
}

#our-mission .card h5 {
    color: pink;
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    #our-mission .column {
        flex: 100%;
        max-width: 100%;
    }
}


/* OUR VALUES*/

#our-values .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#our-values .column {
    flex: 27%;
    max-width: 27%;
    padding: 0 10px;
}
#our-values .card{
    margin-top: 20px;
    vertical-align: middle;
    padding: 10px;
}

#our-values .card h5 {
    color: yellow;
    margin: 10px 0px;
}

@media screen and (max-width: 600px) {
    #our-values .column {
        flex: 100%;
        max-width: 100%;
    }
}

