@font-face {
    font-family: 'acremedium';
    src: url("./Acre-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* CENTERING SLIDE NAV */
.fp-slidesNav {
    display: flex;
    justify-content: space-around;
    color: white;
}

/* CHANGING SLIDE NAV COLOR TO WHITE*/
.fp-slidesNav ul li a span:nth-child(2) {
    background: white;
}

/* CHANGING ARROW IMAGE*/
.fp-controlArrow.fp-prev {
    left: 0;
    border: none;
    width: 55px !important;
    height: 80px;
    background: url("/imgs/shared/left_arrow_white_3pt.svg") no-repeat;
    cursor: pointer;
}
.fp-controlArrow.fp-next {
    right: 0;
    border: none;
    width: 55px;
    height: 80px;
    background: url("/imgs/shared/right_arrow_white_3pt.svg") no-repeat;
    cursor: pointer;
}

@media screen and (max-width: 600px) {

    .fp-controlArrow.fp-prev {
        display: none;
    }

    .fp-controlArrow.fp-next {
        display: none;
    }
}


* {
    font-family: acremedium;
    letter-spacing: 1px;
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#fixed-wrapper {
    position: fixed;
    z-index: 3;
    width: 100%;
}

.slide {
    /* background-color: #e8e8e8; */
    background-image: url('/imgs/about/Fungi_Tree.jpg');
    background-position: center center;
    background-repeat: no-repeat;

}

#our-values {
    /* background-color: #e8e8e8; */
    background-image: url('/imgs/about/Sunset.jpg');
    background-position: center center;
    background-repeat: no-repeat;
}

.card {
    background-color:white;
}
p{
    font-size: 12px;
}

/* OUR STORY */
#our-story .card {
    width: 50%;
    margin: 0 auto;
    padding: 25px 30px;
    box-sizing: border-box;
}

#our-story h5 {
    margin: 0;
}
#our-story .title {
    color: #3caaa1;
    font-size: 1.8em;
    padding-bottom: 15px;
}

#our-story .description {
    font-size: .9em;
}
@media screen and (max-width: 600px) {
    #our-story .card {
        width: 90%;
        position: relative;
        height: 80vh;
    }

    #our-story .title {
        padding-bottom: 10px;
    }
    
    #our-story .description {
        overflow: auto;
        height: 60vh;
        
    }
}

/* OUR MISSION */
#our-mission .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#our-mission .column {
    flex: 27%;
    max-width: 27%;
    padding: 0 10px;
}

#our-mission-title {
    position: relative;
    bottom: 50%;
}
#our-mission-title h5{
    color: white;
    margin: 10px 0px;
}

#our-mission-title .title {
    font-size: 1.8em;
    padding-bottom: 15px;
    color: white;
}

#our-mission #card1 {
    position: relative;
    bottom: 50%;
}

#our-mission #card3 {
    position: relative;
    top: 50%;
}

#our-mission .card{
    margin-top: 20px;
    vertical-align: middle;
    text-align:center;
    padding: 10px;
}

#our-mission .card h5 {
    color: pink;
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    #our-mission .column {
        flex: 100%;
        max-width: 100%;
    }
    
    #our-mission #card1, #our-mission #card3, #our-mission-title {
        position: unset;
        top: unset;
        bottom: unset;
    }
}

/* OUR VISION */

#our-vision .card {
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

#our-vision h5 {
    margin: 0;
}

#our-vision .title {
    color: #4686bf;
    font-size: 1.8em;
    padding-bottom: 15px;
}

#our-vision .description {
    font-size: .9em;
}

@media screen and (max-width: 600px) {
    #our-vision .card {
        width: 90%;
        position: relative;
    }

    #our-vision .title {
        padding-bottom: 10px;
    }

    #our-vision .description {
        overflow: auto;
    }
}

/* OUR VALUES*/

#our-values .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#our-values .column {
    flex: 27%;
    max-width: 27%;
    padding: 0 10px;
}
#our-values .card{
    margin-top: 20px;
    vertical-align: middle;
    padding: 10px;
}

#our-values .card h5 {
    color: #ffe05f;
    margin: 10px 0px;
}

#our-values-title h5 {
    margin: 0;
}
#our-values-title .title {
    font-size: 1.8em;
    padding-bottom: 15px;
    color: #735454
}

@media screen and (max-width: 600px) {
    #our-values .column {
        flex: 100%;
        max-width: 100%;
    }

    #our-values .row:nth-child(2) {
        height: 60vh;
        overflow: auto;
    }
}

