@font-face {
    font-family: 'acremedium';
    src: url("./Acre-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* CENTERING SLIDE NAV */
.fp-slidesNav {
    display: flex;
    justify-content: space-around;
}

/* COLORS */
:root {
    --food-color: #ee6a7c;
    --fun-color: #36ae99;
}

* {
    font-family: acremedium;
    letter-spacing: 1px;
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#fixed-wrapper {
    position: fixed;
    z-index: 3;
    width: 100%;
}

/* AT HOME */
#athome-intro {
    background-image: url('/imgs/get_involved/at_home/at_home.jpg');
    background-size: cover;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.column {
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 0 10px;
}
