@font-face {
    font-family: 'acremedium';
    src: url("./Acre-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* CENTERING SLIDE NAV */
.fp-slidesNav {
    display: flex;
    justify-content: space-around;
}

/* COLORS */
:root {
    --food-color: #ee6a7c;
    --fun-color: #36ae99;
}

* {
    font-family: acremedium;
    letter-spacing: 1px;
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#fixed-wrapper {
    position: fixed;
    z-index: 3;
    width: 100%;
}

/* AT HOME */
#athome-intro {
    background-image: url('/imgs/get_involved/at_home/at_home.jpg');
    background-size: cover;
    background-position: center center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(238,106,124,0.2);
}

.card {
    background: white;
    width: 30%;
    margin: 20px;
    
}

.card:hover {
    opacity: 0.6;
}

.card a {
   text-decoration: none;
}

.card img {
    height: 30vh;
    object-fit: cover;
    width: 100%;
}

.card .desc {
    padding: 30px;
    color: black;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}
