@font-face {
    font-family: 'acremedium-thin';
    src: url("./Acre-Thin.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'acremedium';
    src: url("./Acre-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'acremedium';
    src: url("./Acre-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

/* CENTERING SLIDE NAV */
.fp-slidesNav {
    display: flex;
    justify-content: space-around;
}

/* COLORS */
:root {
    --light-pink: rgb(238,106,124);
    --light-yellow: rgb(250,199,24);
    --light-green: rgb(54,174,153);
    --light-blue: rgb(25,91,167);
    --light-orange: rgb(250,106,51);
    --light-brown: rgb(84,77,80);
}

.clr-home {
    color: var(--light-pink);
}
.clr-comm { 
    color: var(--light-yellow);
}

.clr-legislation {
    color: var(--light-green);
}

.clr-social {
    color: var(--light-blue);
}

.clr-edu {
    color: var(--light-brown);
}

.clr-donations {
    color: var(--light-orange);
}


* {
    font-family: acremedium;
    letter-spacing: 1px;
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#fixed-wrapper {
    position: fixed;
    z-index: 3;
    width: 100%;
}

/* ARROW */
.left-link {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -40px;
}

.right-link {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -40px;
}

.arrow {
    height: 80px;
    width: 80px;
}


/* AT HOME */
#athome-intro {
    background-image: url('/imgs/get_involved/home/at_home.jpg');
    background-size: cover;
    background-position: center center;
}
.bg-clr-home {
    background-color: var(--light-pink);
}

#community-intro {
    background-image: url('/imgs/get_involved/community/in_community.jpg');
    background-size: cover;
    background-position: center center;   
}
.bg-clr-community {
    background-color: var(--light-yellow);
}

#legislation-intro {
    background-image: url('/imgs/get_involved/legislation/legislation.jpg');
    background-size: cover;
    background-position: center center;   
}
.bg-clr-legislation {
    background-color: var(--light-green);
}

#education-intro {

    background-image: url('/imgs/get_involved/education/education.jpg');
    background-size: cover;
    background-position: center center;   
}

.bg-clr-education {
    background-color: var(--light-brown);
}

#donations-intro {

    background-image: url('/imgs/get_involved/donations/donations.jpg');
    background-size: cover;
    background-position: center center;   
}

.bg-clr-donations {
    background-color: var(--light-orange);
}

#socialmedia-intro {

    background-image: url('/imgs/get_involved/socialmedia/socialmedia.jpg');
    background-size: cover;
    background-position: center center;   
}

.bg-clr-socialmedia {
    background-color: var(--light-blue);
}
/* GENERAL */

.intro-badge {
    height: 35vh;
    display: block;
    margin: 0 auto;
    position: relative;
    top: 150px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}


.card {
    background: white;
    width: 30%;
    margin: 20px;
    border: 3px solid black;
    box-sizing: border-box;
    
}

.card:hover {
    opacity: 0.6;
}

.card a {
   text-decoration: none;
}

.card img {
    height: 45vh;
    object-fit: cover;
    width: 100%;
    border-bottom: 2px solid black;
    vertical-align: bottom;
}

.card .desc {
    padding: 30px;
    font-size: 3vh;
    font-family: 'acremedium-thin';
}

@media screen and (max-width: 600px) {
    .intro-badge {
        height: 18vh;
        position: unset;
    }
    .card {
        width: 100%;
    }
}
