@font-face {
    font-family: 'acremedium';
    src: url("./Acre-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* CENTERING SLIDE NAV */
.fp-slidesNav {
    display: flex;
    justify-content: space-around;
}

/* COLORS */
:root {
    --food-color: #ee6a7c;
    --fiber-color: #fac718;
    --filter-color: #195ba7;
    --foundation-color: #544d50;
    --farmaceuticals-color: #fa6a33;
    --fun-color: #36ae99;
}

* {
    font-family: acremedium;
    letter-spacing: 1px;
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* colors */

#fixed-wrapper {
    position: fixed;
    width: 100%;
    z-index: 4;
}

#foodWOS{
    background-size: 600px;
    background-position: center center;
    background-repeat: no-repeat;
}

#name {
    position: absolute;
    width: 100%;
    top: 15%;
    text-align: center;
    font-size: 2em;
}
#web {
    position: absolute;
    bottom: 0px;
}

/* MODAL */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 120px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-table{
    position: relative;
    bottom: 25px;
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
}

.modal-table-cell {
    border-radius: 3px;
    display: table-cell;
    width: 500px;
}

.bdr-Food {
    border: 3px solid  rgb(238,106,124,0.5);
}
.bdr-FiberFuel {
    border: 3px solid  rgb(250,199,24,0.5);
}
.bdr-Filter {
    border: 3px solid  rgb(25,91,167,0.5);
}
.bdr-Foundation {
    border: 3px solid  rgb(84,77,80,0.5);
}
.bdr-Farmaceuticals {
    border: 3px solid  rgb(250,106,51,0.5);
}
.bdr-Fun {
    border: 3px solid  rgb(54,174,153,0.5);
}



figure {
    text-align: center;
}

figure p {
    font-size: .8em;
}

.close {
    position: relative;
    bottom: 29px;
    color: #aaaaaa;
    float: right;
    font-size: 4em;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}