@font-face {
    font-family: 'acremedium';
    src: url("./Acre-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'acremedium';
    src: url("./Acre-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

/* CENTERING SLIDE NAV */
.fp-slidesNav {
    display: flex;
    justify-content: space-around;
}

/* COLORS */
:root {
    --food-color: #ee6a7c;
    --fiber-color: #fac718;
    --filter-color: #195ba7;
    --foundation-color: #544d50;
    --farmaceuticals-color: #fa6a33;
    --fun-color: #36ae99;
}


* {
    font-family: acremedium;
    letter-spacing: 1px;
    /* -webkit-overflow-scrolling: touch; */
    /* -moz-overflow-scrolling: touch; */
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* ARROWS */
.arrow {
    height: 80px;
    width: 80px;
}

.right-link {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -40px;
}

.left-link {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -40px;
}


/* INTROS */
.intro-badge {
    height: 35vh;
}



#food-intro {
    background-image: url("/imgs/sixf/intros/food.jpg");
    background-size: cover;
    background-position: center center;
}

#food-intro .intro-text {
    font-size: 4vh;
    color: white;
    position: absolute;
    left: 70%;
    bottom: 52%;
    text-align: center;
}

#food-badge {
    position: absolute;
    top: 22%;
    left: 16%;
}

#fiber-intro {
    background-image: url("/imgs/sixf/intros/fiber.jpg");
    background-size: cover;
    background-position: center center;
}

#fiber-intro .intro-text {
    font-size: 4vh;
    position: absolute;
    left: 24%;
    top: 40%;
    text-align: left;
    color: #5B5052;
    line-height: 1.3;
}

#fiber-badge {
    position: absolute;
    left: 5%;
    top: 20%;
}

#filter-intro {
    background-image: url("/imgs/sixf/intros/filter.jpg");
    background-size: cover;
    background-position: center center;
}

#filter-intro .intro-text {
    font-size: 4vh;
    position: absolute;
    text-align: center;
    color: #5B5052;
    left: 0;
    right: 0;
    top: 60%;
}

#filter-badge {
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -17.5vh;
}
#foundation-intro {
    background-image: url("/imgs/sixf/intros/foundation.jpg");
    background-size: cover;
    background-position: center center;
}

#foundation-intro .intro-text {
    font-size: 4vh;
    position: absolute;
    left: 19%;
    bottom: 37%;
    text-align: left;
    color: white;
}

#foundation-badge {
    position: absolute;
    left: 57%;
    top: 32%;
    width: 35vh;
    height: 35vh;
}

#farmaceuticals-intro {
    background-image: url("/imgs/sixf/intros/farmaceuticals.jpg");
    background-size: cover;
    background-position: center center;
}

#farmaceuticals-intro .intro-text {
    font-size: 4vh;
    position: absolute;
    left: 6%;
    top: 65%;
    text-align: left;
    color: #5B5052;
}

#farmaceuticals-badge {
    position: absolute;
    left: 9%;
    top: 23%;
    width: 35vh;
    height: 35vh;
}

#fun-intro {
    background-image: url("/imgs/sixf/intros/fun.jpg");
    background-size: cover;
    background-position: center center;
}

#fun-intro .intro-text {
    font-size: 4vh;
    position: absolute;
    right: 14%;
    bottom: 44%;
    color: #5B5052;
}

#fun-badge {
    position: absolute;
    right: 18%;
    bottom: 12%;
    width: 35vh;
    height: 35vh;
}

/* FORGIVE ME */
@media screen and (max-width: 600px) {
    .right-link, .left-link {
        display: none;
    }
    .intro-text {
        background-color: white;
        color: var(--foundation-color) !important;
        left: unset !important;
        right: unset !important;
        top: unset !important;
        bottom: 0 !important;
        width: 100vw !important;
        font-size: 2vh !important;
        padding: 15px;
        text-align: center !important;
        box-sizing: border-box;
        border: 1px solid var(--foundation-color);
    }
    #fiber-intro {
        background-position: 75% center;
    }

    #farmaceuticals-intro {
        background-position: 32% center;
    }

    #fun-intro {
        background-position: 40% center;
    }

    #food-badge {
        top: 13%;
        left: -2%;
    }

    #filter-badge {
        left: 53%;
        top: 30%;
    }

    #foundation-badge {
        left: 15%;
        top: 20%;
    }

    #farmaceuticals-badge {
        left: -10%;
        top: 42%;
    }

    #fun-badge {
        right: -5%;
    }
}

/* colors */

#fixed-wrapper {
    position: fixed;
    width: 100%;
    z-index: 4;
}

/* SOIL INFO VIDEO */

#video {
    width: 100%;
    height: 100%;
    text-align: center;
}

#video-container {
    height: 100vh;
    width: 100%;
    text-align: center;
    display: table;
}

#video-cell {
    display: table-cell;
    vertical-align: middle;
}
#sixFsVideo {
    height: 60%;
    width: 60%;
}

@media screen and (max-width: 600px) {
    #sixFsVideo {
        height: 50%;
        width: 80%;
        right: 5px;
        position: relative;
    }
}






/* WEB OF SOIL*/ 
#wos{
    background-size: 600px;
    background-position: center center;
    background-repeat: no-repeat;
}

#title {
    font-size: 4vh;
    position: absolute;
    top: 120px;
    text-align: center;
    width: 100%;
}
#name {
    font-size: 2.5vh;
    position: absolute;
    top: 200px;
    width: 100%;
    text-align: center;
}
#web {
    position: absolute;
    bottom: 0px;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 120px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-table{
    position: relative;
    bottom: 25px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

.scroll-wrapper {
    overflow-x: scroll;
}

#modal-row {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    height: 60vh;
    /* -webkit-overflow-scrolling: touch; */
}


#modal-row:before, #modal-row:after {
    content: '';
    margin: auto;
}

.modal-cell {
    border-radius: 3px;
    flex: none;
    width: 290px;
    margin: 5px;
}

@media screen and (max-width: 600px) {
    #modal-row {
        flex-direction: column;
        height: 50vh;
    }

    .modal-cell {
        width: 95%;
    }
}

.bdr-Food {
    border: 1.5px solid  rgba(238,106,124,0.5);
}
.bdr-FiberFuel {
    border: 1.5px solid  rgba(250,199,24,0.5);
}
.bdr-Filter {
    border: 1.5px solid  rgba(25,91,167,0.5);
}
.bdr-Foundation {
    border: 1.5px solid  rgba(84,77,80,0.5);
}
.bdr-Farmaceuticals {
    border: 1.5px solid  rgba(250,106,51,0.5);
}
.bdr-Fun {
    border: 1.5px solid  rgba(54,174,153,0.5);
}



figure {
    text-align: center;
}

figure p {
    font-size: .8em;
}

.close {
    position: relative;
    bottom: 29px;
    color: #aaaaaa;
    font-size: 3.5em;
    display: flex;
    justify-content: flex-end;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* ::-webkit-scrollbar {
    display: none;
} */
/* SOIL FLIX */
#flix-container {
    position: relative;
    top: 30vh;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

section a:link,
section a:hover,
section a:active,
section a:visited {
  transition: color 150ms;
  color: #EC6A7C;
  text-decoration: none;
}
section a:hover {
  color: #EC6A7C;
  text-decoration: underline;
}

h1.title {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-family: 'acremedium';
    font-weight: 800;
    color: #E06572;
    font-size: 2em;
  }


.row {
    overflow-x: scroll;
    width: 90%;
}

.row__inner {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    font-size: 0;
    white-space: nowrap;
    margin: 40.3125px 0;
    padding-bottom: 10px;
    /* border: 5px solid #E06572;;*/
}

.tile {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 140.625px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
            transform-origin: center left;
}

.tile__img {
    width: 250px;
    height: 140.625px;
    -o-object-fit: cover;
        object-fit: cover;
}

.tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    transition: 450ms opacity;
}

.tile__details:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: #000;
}

.tile__details:after {
    width: 50px;
    height: 50px;
    border: 3px solid #ecf0f1;
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto auto;
}

.play-button {
    height: 16px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 5px;
    right: 0;
    margin: auto auto;
}

.tile:hover .tile__details {
    opacity: 1;
}

.tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px;
    font-size: 1vh;
}

.row__inner:hover {
    -webkit-transform: translate3d(-62.5px, 0, 0);
            transform: translate3d(-62.5px, 0, 0);
}

.row__inner:hover .tile {
    opacity: 0.5;
}

.row__inner:hover .tile:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
}

.tile:hover ~ .tile {
    -webkit-transform: translate3d(125px, 0, 0);
            transform: translate3d(125px, 0, 0);
}


@media screen and (max-width: 600px) {

    #flix-container {
        top: 15vh;
        padding-bottom: 140px;
    }

    .row {
        width: 75%;
    }

    #modal-row {
        overflow-y: auto;
    }
    .row__inner {
        white-space: unset;
        margin: unset;
    }
    
    .tile {
        margin-right: unset;
        display: block;
        margin: 10px auto;

    }

    .tile__details {
        opacity: 1;
        background: linear-gradient(to top, rgba(0,0,0,.9) 0%, rgba(0,0,0,0) 60%)
    }

    .row__inner:hover {
        -webkit-transform: none;
                transform: none;
    }

    .row__inner:hover .tile{
        opacity: 1;
    }
    
    
    .row__inner:hover .tile:hover {
        -webkit-transform: none;
                transform: none;
    }
    
    .tile:hover ~ .tile {
        -webkit-transform: none;
                transform: none;
    }
}
