@font-face {
    font-family: 'acremedium';
    src: url("./Acre-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'acremedium';
    src: url("./Acre-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

/* COLORS*/

:root {
    --pink: rgb(238,106,124);
    --yellow: rgb(250,199,24);
    --green: rgb(54,174,153);
    --blue: rgb(25,91,167);
    --orange: rgb(250,106,51);
    --brown: rgb(84,77,80);
}

.clr-genesis {
    color: var(--pink);
    border-right:2px solid var(--pink);
}
.clr-habitat { 
    color: var(--yellow);
    border-right:2px solid var(--yellow);
}
.clr-biology {
    color: var(--green);
    border-right:2px solid var(--green);
}
.clr-chemistry {
    color: var(--orange);
    border-right:2px solid var(--orange);
}
.clr-nutrition {
    color: var(--brown);
    border-right:2px solid var(--brown);
}
.clr-health {
    color: var(--blue);
    border-right:2px solid var(--blue);
}

/* ARROWS */
.arrow {
    height: 80px;
    width: 80px;
}

.right-link {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -40px;
}

.left-link {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -40px;
}


* {
    font-family: acremedium;
    letter-spacing: 1px;
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#fixed-wrapper {
    position: fixed;
    z-index: 3;
    width: 100%;
}

a {
    text-decoration: none;
}

.sidebar {
    list-style-type: none;
    display: inline-block;
    padding: 10px 30px;
    position: relative;
    left: 20px;
}

.sidebar li {
    line-height: 2;
}

.sidebar .active {
    text-decoration: underline;
    font-weight: bold;
}