@font-face {
    font-family: 'acremedium';
    src: url("./Acre-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* CENTERING SLIDE NAV */
.fp-slidesNav {
    display: flex;
    justify-content: space-around;
}

/* COLORS */
:root {
    --food-color: #ee6a7c;
    --fun-color: #36ae99;
}

* {
    font-family: acremedium;
    letter-spacing: 1px;
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* ARROWS */
.down-arrow {
    height: 50px;
    width: 80px; 
}

.right-arrow {
    height: 80px;
    width: 80px;
}

/* replace default left/right arrows with pink */
.fp-controlArrow.fp-prev {
    left: 0;
    border: none;
    width: 55px !important;
    height: 80px;
    background: url("/imgs/shared/left_arrow_pink_thick.svg") no-repeat;
    cursor: pointer;
}
.fp-controlArrow.fp-next {
    right: 0;
    border: none;
    width: 55px;
    height: 80px;
    background: url("/imgs/shared/right_arrow_pink_thick.svg") no-repeat;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .fp-controlArrow.fp-prev {
        display: none;
    }
    .fp-controlArrow.fp-next {
        display: none;
    }
}



/* GENERAL */
.section-header {
    font-size: 5vh;
    text-align: center;
    margin-bottom: 6vh;
}

#fixed-wrapper {
    position: fixed;
    z-index: 3;
    width: 100%;
}

/* MAIN INTRO */
#intro {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),url('../imgs/main/HeaderPhoto.jpg');
    background-size: cover;
}

.jumbotron {
    position: relative;
    top: 25vh;
    display: block;
    margin: 0 auto;
    width: 50vw;
}

.jumbo-text {
    line-height: .8;
    color: white;
    font-size: 8vh;
    margin: 0px;
}

.jumbo-sub {
    display: inline-block;
    padding: 10px;
    color: white;
    width: 100%;
    font-size: 3vh;
    background-color: var(--food-color);
}

.jumbo-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .jumbotron{
        text-align: center;
        top:10%;
        left: unset;
    }
    .jumbo-text {
        font-size: 6vh
    }
}


/* HEALTHY SOILS */
.wrap {
    position: relative;
}

#soil-circle {
    display: block;
    margin: 0 auto;
}

.soil-container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.soil-content {
    width: 35vw;
    height: 100vh;
}

.soil-content img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.soil-header {
    text-align: center;
    font-size: 4vh;
}
.soil-desc {
    text-align: left;
    padding: 15% 16%;
    font-size: 1.2em;
    line-height: 130%;
}

.soil-img {
    width: 65w;
    height: 100vh;
    overflow: hidden;
}

.soil-img img {
    height: 100%;
}

@media screen and (max-width: 600px) {
    #soil-circle {
        height: 90%;
        width: 90%;
    }
    .soil-container {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
    }

    .soil-content {
        width: 100vw;
        height: 100vh;
    }

    .soil-content img {
        width: 40vw;
    }

    .soil-header {
        text-align: center;
        font-size: 4vh;
    }

    .soil-desc {
        text-align: center;
        padding: 6vh 12vw;
        font-size: 1em;
        line-height: unset;
        display: block;
        margin: 0 auto;
    }

    .soil-img {
        width: 100vw;
        height: unset;
        overflow: visible;
    }

    .soil-img img {
        width: 100%;
        height: unset;
    }
}

/*6Fs*/
.sixf-container {
    text-align: center;
}

.sixf-container img {
    height: 25vh;
}
.sixf-text {
    font-size: 5vh;
}

#sixf-change-text {
    color: var(--food-color);
}

#sixf-link {
    background-color: var(--food-color);
    font-size: 4vh;
    padding: 6px;
    text-decoration: none;
    color:white;
}

@media screen and (max-width: 600px) {
    .sixf-text {
        font-size: 4vw;
    }
    
    #sixf-link {
        font-size: 4vw;
    }
}

/* MEDIA HUB */
#media-hub-container {
    height: 100%;
    width: 100%;
    text-align: center;
    display: table;
}

#media-hub-cell {
    display: table-cell;
    vertical-align: middle;
}
#media-hub-container video {
    width: 60%;
    height: auto;
    display: inline-block;
}

#media-hub-container .right-arrow {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -40px;
}

#mb-learn {
    display: none;
}

@media screen and (max-width: 600px) {

    /* remove big arrow and replace with learn more */
    #media-hub-container .right-arrow {
        display: none;
    }

    #media-hub-container video {
        width: 70%;
        height: auto;
        display: inline-block;
    }
    #mb-learn {
        display: block;
    }
    #mb-learn p{
        display: inline-block;
    }
    #mb-learn a {
        text-decoration: none;
        color: var(--food-color);
    }
    
    #mb-learn img {
        height: 20px;
        vertical-align: middle;
    }
} 


/* SOILS 101 */ 
#soils101-section {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),url("../imgs/soils101/soils101.jpg");
    background-size: cover;
    background-position: center center;
}

#soils101-container {
    height: 100vh;
}

#text-left {
    color: white;
    font-size: 5.5vh;
    display: inline-block;
    position: relative;
    left: 17%;
    top: 51%;
}

#text-right {
    color: white;
    font-size: 6.5vh;
    display: inline-block;
    position: relative;
    top: 68%;
    left: 39%;
    font-weight: bolder;
}

#soils101-container .link {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -40px;
}


@media screen and (max-width: 600px) {
    #soils101-container {
        height: unset;
        padding-left: 15px;
    }
    #text-left {
        position: unset;
        font-size: 3.5vh;
    }
    #text-right {
        position: unset;
        font-size: 5.5vh;
    }
} 

/* GET INVOLVED */
#get-involved-section {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url("../imgs/get_involved/get-involved.jpg");
    background-size:cover;
    background-position: center center;
}

#get-involved-container {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    height: 100vh;
    width: 35vw;
    left: 10vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#get-involved-text {
    position: relative;
    top: 17%;
    font-size: 3vh;
}

#get-involved-section .link {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -40px;
}

@media screen and (max-width: 600px) {

    #get-involved-section {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.3)
          ), url("../imgs/get_involved/get-involved.jpg");
    }
    #get-involved-container{
        position: unset;
        height: unset;
        width: 85vw;
        top: 50%;
        background-color: unset;

    }

    #get-involved-text {
        font-size: 2.5vh;
        color: white;
    }
}


/* ABOUT US */
#about-us-section {
    background-image:linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url("../imgs/about/about-us.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
    
}

#about-us-container {
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    height: 100vh;
    width: 35vw;
    left: 10vw;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#about-us-text {
    position: relative;
    top: 17%;
    font-size: 1.1vw;
}

#about-us-text p {
    margin: 8vh;
}

#about-us-section .link {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -40px;
}

@media screen and (max-width: 600px) {

    #about-us-section {
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.3)
          ), url("../imgs/about/about-us.jpg");
    }
    #about-us-container{
        height: unset;
        width: 85vw;
        top: 0;
        text-align: left;
        background-color: unset;

    }

    #about-us-text {
        font-size: 2vh;
        color: white;
    }

    #about-us-text p {
        margin: 2vh;
    }
}


/* FOOTER */
#footer-container {
    height:23vh;
    display: flex;
    justify-content: center;
}

#footer-text {
    color: var(--fun-color);
    font-size: 2.5vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4vh;
}

#social-media {
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin: 4vh 0vh 4vh 4vh;
    justify-content: space-between;
}

#social-media-text {
    font-size: 3vh;
    background-color: var(--food-color); 
    color: white;
    width: 100%;
    font-weight: bolder;
    padding: 4px;
}
#footer-icons img {
    height: 2vw;
}

#footer-icons > div {
    display: inline-block;
    margin-left: 2vw;
    font-size: 2vh;
    color: var(--food-color);
}

@media screen and (max-width: 600px) {
    #footer-text {
        font-size: 1.5vh;
        margin: 2vh;
    }

    #social-media {
        width: 50vw;
    }
    #social-media-text {
        font-size: 2vh;
    }
    #footer-icons img {
        height: 6vw;
    }
    #footer-icons > div {
        margin-left: unset;
    }
}
