@font-face {
    font-family: 'acremedium';
    src: url("./Acre-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* CENTERING SLIDE NAV */
.fp-slidesNav {
    display: flex;
    justify-content: space-around;
}

/* COLORS */
:root {
    --food-color: #ee6a7c
}

* {
    font-family: acremedium;
    letter-spacing: 1px;
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* ARROWS */
.down-arrow {
    height: 50px;
    width: 80px; 
}

.right-arrow {
    height: 80px;
    width: 80px;
}

/* GENERAL */
.section-header {
    font-size: 5vh;
    text-align: center;
}

#fixed-wrapper {
    position: fixed;
    z-index: 3;
    width: 100%;
}
#intro {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),url('../imgs/main/HeaderPhoto.jpg');
    background-size: cover;
}

.jumbotron {
    position: relative;
    top: 25vh;
    display: block;
    margin: 0 auto;
    width: 50vw;
}

.jumbo-text {
    line-height: .8;
    color: white;
    font-size: 8vh;
    margin: 0px;
}

.jumbo-sub {
    display: inline-block;
    padding: 10px;
    color: white;
    width: 100%;
    font-size: 3vh;
    background-color: var(--food-color);
}

.jumbo-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .jumbotron{
        text-align: center;
        top:10%;
        left: unset;
    }
    .jumbo-text {
        font-size: 6vh
    }
}


/* HEALTHY SOILS */
.wrap {
    position: relative;
}

#soil-circle {
    display: block;
    margin: 0 auto;
}

.soil-container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.soil-desc {
    width: 35vw;
    height: 100vh;
}

.soil-desc img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.soil-desc p {
    text-align: left;
    padding: 30% 16%;
    font-size: 1.2em;
    line-height: 130%;
}

.soil-img {
    width: 65w;
    height: 100vh;
    overflow: hidden;
}

.soil-img img {
    height: 100%;
}

@media screen and (max-width: 600px) {
    #soil-circle {
        height: 90%;
        width: 90%;
    }
    .soil-container {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
    }

    .soil-desc {
        width: 100vw;
        height: 100vh;
    }

    .soil-desc img {
        width: 40vw;
    }
    .soil-desc p {
        text-align: center;
        padding: 10vh 12vw;
        font-size: 1em;
        line-height: unset;
        display: block;
        margin: 0 auto;
    }

    .soil-img {
        width: 100vw;
        height: unset;
        overflow: visible;
    }

    .soil-img img {
        width: 100%;
        height: unset;
    }
}

/*6Fs*/
.sixf-container {
    text-align: center;
}

.sixf-container img {
    height: 25vh;
}
.sixf-text {
    font-size: 5vh;
}

#sixf-change-text {
    color: var(--food-color);
}

#sixf-link {
    background-color: var(--food-color);
    font-size: 4vh;
    padding: 6px;
    text-decoration: none;
    color:white;
}

@media screen and (max-width: 600px) {
    .sixf-text {
        font-size: 4vw;
    }
    
    #sixf-link {
        font-size: 4vw;
    }
}

/* SOIL GENESIS */

#soil-genesis-container {
    height: 50%;
    width: 100%;
    text-align: center;
}

#soil-genesis-container video {
    display: inline-block;
}

#soil-genesis-container .col {
    display: inline-block;
}

/* SOILS 101 */ 
/* TODO: MAKE RESPONSIVE */

#soils101-container {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),url("../imgs/soils101/soils101.jpg");
    background-size: cover;
    background-position: center 40%;
    height: 100vh;
}

#text-left {
    color: white;
    font-size: 5.5vh;
    display: inline-block;
    position: relative;
    left: 17%;
    top: 51%;
}

#text-right {
    color: white;
    font-size: 6.5vh;
    display: inline-block;
    position: relative;
    top: 68%;
    left: 39%;
    font-weight: bolder;
}

#soils101-container .link {
    position: absolute;
    right: 10px;
    top: 50%;
}

/* GET INVOLVED */
#get-involved-section {
    background-image: url("../imgs/get_involved/get-involved.jpg");
    /* background-size: cover; */
    background-size:cover;
    background-position: center center;
    /* background-repeat: no-repeat */
}
#about-us-section {
    background-image: url("../imgs/about/about-us.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
    
}
