@font-face {
    font-family: 'acremedium';
    src: url("./Acre-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* CENTERING SLIDE NAV */
.fp-slidesNav {
    display: flex;
    justify-content: space-around;
}

/* COLORS */
:root {
    --food-color: #ee6a7c
}

* {
    font-family: acremedium;
    letter-spacing: 1px;
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#fixed-wrapper {
    position: fixed;
    z-index: 3;
    width: 100%;
}
#intro {
    background-image: url('../imgs/main/HeaderPhoto.jpg');
    background-size: cover;
}

.jumbotron {
    position: relative;
    top: 20%;
    left: 20%;
}

.jumbo-text {
    line-height: .8;
    color: white;
    font-size: 8vh;
    margin: 0px;
}

.jumbo-sub {
    display: inline-block;
    padding: 11px;
    width: 60%;
    color: white;
    font-size: 3vh;
    background-color: var(--food-color);
}

@media screen and (max-width: 600px) {
    .jumbotron{
        text-align: center;
        top:10%;
        left: unset;
    }
    .jumbo-text {
        font-size: 6vh
    }
}


/* HEALTHY SOILS */
#soil-circle {
    display: block;
    margin: 0 auto;
}

.soil-container {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.soil-desc {
    width: 35vw;
    height: 100vh;
}

.soil-desc img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.soil-desc p {
    text-align: left;
    padding: 30% 16%;
    font-size: 1.2em;
    line-height: 130%;
}

.soil-img {
    width: 65w;
    height: 100vh;
    overflow: hidden;
}

.soil-img img {
    height: 100%;
}

@media screen and (max-width: 600px) {
    #soil-circle {
        height: 90%;
        width: 90%;
    }
    .soil-container {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column-reverse;
    }

    .soil-desc {
        width: 100vw;
        height: 100vh;
    }

    .soil-desc img {
        width: 40vw;
    }
    .soil-desc p {
        text-align: center;
        padding: 10vh 12vw;
        font-size: 1em;
        line-height: unset;
        display: block;
        margin: 0 auto;
    }

    .soil-img {
        width: 100vw;
        height: unset;
        overflow: visible;
    }

    .soil-img img {
        width: 100%;
        height: unset;
    }
}

/*6Fs*/
.sixf-container {
    text-align: center;
}

.sixf-container img {
    height: 30vh;
}
.sixf-text {
    font-size: 7vh;
}

#sixf-change-text {
    color: var(--food-color);
}

#sixf-link {
    background-color: var(--food-color);
    font-size: 4vh;
    padding: 6px;
    text-decoration: none;
    color:white;
}

@media screen and (max-width: 600px) {
    .sixf-text {
        font-size: 4vw;
    }
    
    #sixf-link {
        font-size: 4vw;
    }
}
