<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/soils101.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/fullpage.css"/>
    <script type="text/javascript" src="/scripts/fullpage.js"></script>
</head>
<body>
    <div id="fixed-wrapper">
        <%- include('../../partials/main_nav') %>
        <%- include('../../partials/secondary_nav_soils101', {soils101: 'chemistry'}) %>
    </div>
    <div id="fullpage">
        <div class="section">
            <a class="left-link" href="/soils101/biology"><img class="arrow" src="/imgs/shared/left_arrow_pink_thick.svg"></a>
            <a class="right-link" href="/soils101/nutrition"><img class="arrow" src="/imgs/shared/right_arrow_pink_thick.svg"></a>
        </div>
        <div class="section">
            <ul class="sidebar clr-chemistry">
                <li><a class="active">dissolution</a></li>
                <li><a >hydration</a></li>
                <li><a >ion exchange</a></li>
            </ul>
        </div>
        <div class="section">
            <ul class="sidebar clr-chemistry">
                <li><a >dissolution</a></li>
                <li><a class="active">hydration</a></li>
                <li><a >ion exchange</a></li>
            </ul>
        </div>
        <div class="section">
            <ul class="sidebar clr-chemistry">
                <li><a >dissolution</a></li>
                <li><a >hydration</a></li>
                <li><a class="active">ion exchange</a></li>
            </ul>
        </div>
    </div>
    <script>
        new fullpage('#fullpage', {
            //options here
            navigation: true,
            slidesNavigation: true,
            autoScrolling:true,
            scrollHorizontally: true
        });
    </script>
</body>
